{% load static %}

<!DOCTYPE html>
<html>
<title>H. I Urubamba - Sistema de Pacientes Crónicos</title>
<meta name="viewport" content="width=device-width, initial-scale=1">



<link rel="stylesheet" type="text/css" href="{% static 'w3css/w3.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">

<body class="w3-theme-l3">

    {% include "_header.html" %}

   
    <form action="{% url 'super_admin' %}" method="POST">
        {% csrf_token %}
        <button> go </button>
        <div class="w3-padding">
            <textarea id="w3review" name="texto" rows="100" cols="150">{{texto}}
            </textarea>

        </div>
            
       
    </form>
  

<script>
    
    function validation() 
    {
        data = document.getElementById("now_data");
        button = document.getElementById("myButtonAgregar");

        if (data.value != "")
            button.disabled = false;
        else
            button.disabled = true;
    }   
    </script>

</body>
</html> 

