


<div class="w3-container">
    <h3>Sistema de paciente crónicos - {{hospital.hospital}}</h3>

    <div class="w3-bar w3-black">          
      <a href="{% url 'resumen' %}" class="w3-bar-item w3-button w3-mobile w3-green">Home</a>
      <div class="w3-dropdown-hover w3-mobile">
        <button class="w3-button"> Pacientes <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
          <a href="{% url 'paciente_new'%}" class="w3-bar-item w3-button w3-mobile">Agregar paciente nuevo</a>
          <a href="{% url 'pacientes_list'%}" class="w3-bar-item w3-button w3-mobile">Modificar datos / Declarar Deceso </a>
          <a href="{% url 'muertos_list'%}" class="w3-bar-item w3-button w3-mobile">Lista de pacientes muertos</a>        
          </div>
      </div>
      <a href="#" class="w3-bar-item w3-button w3-mobile"> </a>
      <a href="#" class="w3-bar-item w3-button w3-mobile"> </a>
      <div class="w3-dropdown-hover w3-mobile">
        <button class="w3-button">Informes anuales:  <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Lista de Pacientes </a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Informes de electrocardigramas</a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Informes de chequeos de pies</a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Informes de MOSARE</a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Informes de pacientes (peso) </a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Informes de Ekgs</a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Informes de Ekgs</a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Informes de Ekgs</a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Informes de Ekgs</a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> text-area (super admin)</a>
        </div>
      </div>
    </div>
  </div>
