


<div class="w3-container">
    <h3>Sistema de paciente crónicos - {{hospital.hospital}}</h3>

    <div class="w3-bar w3-black">          
      <a href="{% url 'resumen' %}" class="w3-bar-item w3-button w3-mobile w3-green">Home</a>
      <div class="w3-dropdown-hover w3-mobile">
        <button class="w3-button"> Pacientes <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
          <a href="{% url 'paciente_new'%}" class="w3-bar-item w3-button w3-mobile">Agregar paciente nuevo</a>
          <a href="{% url 'pacientes_list'%}" class="w3-bar-item w3-button w3-mobile">Modificar datos / Declarar Deceso </a>
          <a href="{% url 'muertos_list'%}" class="w3-bar-item w3-button w3-mobile">Lista de pacientes muertos</a>        
          </div>
      </div>
      <a href="#" class="w3-bar-item w3-button w3-mobile"> </a>
      <a href="#" class="w3-bar-item w3-button w3-mobile"> </a>
      <div class="w3-dropdown-hover w3-mobile">
        <button class="w3-button">Informes:  <i class="fa fa-caret-down"></i></button>
        <div class="w3-dropdown-content w3-bar-block w3-dark-grey">
          <a href="{% url 'reporte_01' %}" class="w3-bar-item w3-button w3-mobile"> Lista de pacientes </a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Lista de pacientes nuevos</a>
          <a href="{% url 'reporte_dot'%}" class="w3-bar-item w3-button w3-mobile"> Informe de dotaciones</a>
          <a href="{% url 'reporte_pie' %}" class="w3-bar-item w3-button w3-mobile"> Informe de chequeos de pies</a>
          <a href="{% url 'reporte_ekg' %}" class="w3-bar-item w3-button w3-mobile"> Informe de electrocardiogramas</a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Informe de pacientes muertos </a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Informe de obesidad</a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Informe de referencias </a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Informe de </a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Informe de </a>
          <a href="#" class="w3-bar-item w3-button w3-mobile"> Informe de ...</a>
        </div>
      </div>
    </div>
  </div>
