{% load static %}

<!DOCTYPE html>
<html>
<title>H. I Urubamba - Sistema de Pacientes Crónicos</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{% static 'w3css/w3.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">

<body>

  {% include '_header.html' %}

    <div class="w3-panel w3-red">
        <h3>{{hola}}</h3>
        <p>Red often indicates a dangerous or negative situation.</p>
      </div> 

</body>
</html> 

