{% load static %}

<!DOCTYPE html>
<html>
<title>H. I Urubamba - Sistema de Pacientes Crónicos</title>
<meta name="viewport" content="width=device-width, initial-scale=1">



<link rel="stylesheet" type="text/css" href="{% static 'w3css/w3.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">

<body class="w3-theme-l3">

    {% include "_header.html" %}

<h3 class="w3-center">Agregar chequeo de pie</h3>

    {% include "paciente_show.html" %}

<div class="w3-row">
    <div class="w3-col w3-left" style="width:100px"><p></p></div>
    <div class="w3-col w3-right" style="width:100px"></p></div>
    <div class="w3-rest w3-container">
        <h4>Chequeos anteriores...</h4>
       <table class="w3-table-all" id = "myTable">   
        <tr>
            <th class="w3-center" >Data de chequeo</th>
            <th class="w3-center"> Con lesión</th>
            <th class="w3-center"> Observación </th>
            <th colspan="2" class="w3-center"> Acciones </th>
        </tr>     
        <tr>
            <form action="{% url 'pie_add' %}" method="POST">
                {% csrf_token %}
                
                <td style="width: 15%;" class="w3-center w3-pale-green">
                    <input type="hidden" value = "{{nowDni}}" name = "nowDni">
                    <input type="hidden" value = "{{nowMonth}}" name = "nowMonth">
                    <input type="hidden" value = "{{nowYear}}" name = "nowYear">
                    
                    <input class="w3-input w3-border" name="nowData" id="now_data" min="{{minimumData|date:'Y-m-d'}}" max="{{maximumData|date:'Y-m-d'}}" type="date"  onchange="validation()">
                </td>
                <td  style="width: 15%;" class="w3-pale-green">
                    <select class="w3-select w3-border" name="nowLesion" id="now_lesion">
                        <option value="0" selected>Sin lesión</option>
                        <option value="1"> Con lesión</option>                    
                    </select>
                </td>
                <td  style="width: 60%;" class="w3-center w3-pale-green">
                    <input class="w3-input w3-border" name="nowObservacion" type="text" maxlength="50" placeholder="Detalles" id = "now_observación">
                </td>
                <td colspan="2"  style="width: 10%;" class="w3-center w3-pale-green">
                    <button class="w3-button w3-border w3-border-blue w3-indigo w3-round-large" style="width:100%" id="myButtonAgregar" disabled>Agregar Chequeo</button>
                    
                
            </form>
        </tr>
      
            
      </table>
    </div>
  </div>
  

<script>
    
    function validation() 
    {
        data = document.getElementById("now_data");
        button = document.getElementById("myButtonAgregar");

        if (data.value != "")
            button.disabled = false;
        else
            button.disabled = true;
    }   
    </script>

</body>
</html> 

