{% load static %}

<!DOCTYPE html>
<html>
<title>H. I Urubamba - Sistema de Pacientes Crónicos</title>
<meta name="viewport" content="width=device-width, initial-scale=1">


<link rel="stylesheet" type="text/css" href="{% static 'w3css/w3.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.css' %}">


<body class="w3-theme-l3">

{% include "_header.html" %}

<h2 class="w3-center">Estadísticas de atenciones realizadas</h2>

<div class="w3-row">
  <div class="w3-col w3-left" style="width:70%"><p></p></div>
  <div class="w3-col w3-right" style="width:10%"></p></div>
  <div class="w3-rest w3-container">
    <div class="w3-panel w3-white w3-card w3-display-container">
    
      <div class="w3-row  w3-section">
          <form action="{% url 'reporte_dot'%}" method="post">
                {% csrf_token %} 
                <div class="w3-col" style="width:20%"> &nbsp;&nbsp; Año: </div>
                <div class="w3-col" style="width:45%">     
                  <input class="w3-input w3-border w3-padding" type="number" placeholder="Busqueda..." name="nowYear" value="{{years.now}}">
                </div>
                <div class="w3-col" style="width:5%"><p></p></div>              
                <div class="w3-rest">                      
                  <button class="w3-button  w3-padding w3-border w3-border-gray w3-black w3-round-large">Buscar</button>
                </div>     
          </form>        
      </div>
    </div>
  </div>
</div>
<br>

<div class="w3-row">
  <div class="w3-col w3-left" style="width:10%"><p></p></div>
  <div class="w3-col w3-right" style="width:10%"><p></p></div>
  <div class="w3-rest w3-container">
    <table class="w3-table-all" id = "myTable">
      <thead>
        <tr class="w3-light-grey">
          <th class="w3-center"> Atenciones </th>  
          {% for mes in meses %}
            <th class="w3-center">{{mes}}</th>     
          {% endfor %}   
        </tr>
      </thead>
        <tr>  
          <th> Dotacion I ( <i style="color:lightblue" class="fa fa-user-doctor"></i>  )</th>
          {% for dot1 in dotacion1 %}
            <td class="w3-center">{{dot1}}</td>     
          {% endfor %} 
        </tr>
        <tr>  
          <th> Dotacion II ( <i style="color:lightblue" class="fa fa-tablets"></i>  ) </th>
          {% for dot2 in dotacion2 %}
            <td class="w3-center">{{dot2}}</td>     
          {% endfor %} 
        </tr>
        <tr>  
            <th>  Dotacion III ( <i style="color:lightblue" class="fa fa-capsules"></i> )</th>
            {% for dot3 in dotacion3 %}
              <td class="w3-center">{{dot3}}</td>     
            {% endfor %} 
          </tr>
          <tr>  
            <th> </i> Otros ( <i style="color:gray" class="fa fa-exchange"></i> )</th>
            {% for dot0 in dotacion0 %}
              <td class="w3-center">{{dot0}}</td>     
            {% endfor %} 
          </tr>
        <tr>  
          <th> Total</th>
          {% for totalm in totalmes %}
            <td class="w3-center">{{totalm}}</td>     
          {% endfor %} 
        </tr>
        <tr>  
          <td colspan="14"> <br></td>
        </tr>
        <tr>  
          <th> Total de electrocardiograma realizados en la Base de datos </th>
          <td colspan="12"></td>
          <th>{{total}}</th>
        </tr>
    </table>
    <br>
    
    <div class = "w3-right">

    &nbsp;&nbsp;<a href="#"> 
    <button class="w3-button w3-pale-green w3-border"><div class="w3-large"><i style="color:green" class="fa fa-file"></i> Generar Documento  </div></button>
    </a>
    </div>
  </div>
</div>

<script>
  function myFunction() {
    var input, filter, table, tr, td, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) 
    {
      td = tr[i].getElementsByTagName("td")[3];
      if (td) 
      {
        txtValue = td.textContent || td.innerText;        
        if (txtValue.toUpperCase().indexOf(filter) > -1) 
        {
          tr[i].style.display = "";
        } 
        else 
        {
          tr[i].style.display = "None";
        }
      }
    }
  }
  </script>
  



</body>
</html> 

